body {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url("./tileable-wood-colored.png");
    background-color: rgb(39, 27, 27);
}

.widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informative {
    display: flex;
}

.interactive {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* CLOCK WIDGET STYLING */

.clock {
    font-family: 'Sigmar One', cursive;
    border: solid #800080 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 450px;
    background-color: #ca9cca;
    margin: 20px;
}

.clock-header {
    text-align: center;
    margin: 10px;
}

.clock-time, .clock-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    height: 50px;
}

.clock-time div {
    width: 200px;
}

/* TABS WIDGET STYLING */

.tabs {
    display: flex;
    border: solid rgb(236, 181, 78) 5px;
    background-color: linen;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.tabs-header {
    text-align: center;
    margin: 10px;
    font-size: 40px;
}

.tabs-div {
    margin: 10px;
}

.tab-header {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.tab-header > li {
  width: 100px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: orange;
}

.tab-header > li:first-child {
    border-left: 2px solid black;
}

.tab-header > li:last-child {
    border-right: 2px solid black;
}

.tab-header > li:hover {
    filter: brightness(110%);
    color: white;
}

li.active {
    border-bottom: none;
    font-weight: bold;
}

.tab-content {
    display: flex;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 296px;
    background-color: orange;
    color: white;
}

/* AUTOCOMPLETE WIDGET STYLING */

.auto {
    display: flex;
    flex-direction: column;
    border: solid green 5px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(195, 240, 195);
    font-family: 'Mali', cursive;
    min-height: 400px;
}

.auto-header {
    text-align: center;
    margin: 10px;
}

.auto-input {
    border: solid green 3px;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    outline: none;
    font-family: 'Mali', cursive;
}

.names {
    list-style: none;
    padding: 0;
    margin: 5px;
}

.names > li {
    margin: 5px;
    cursor: pointer;
}

/* DND WIDGET STYLING */

.dnd {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: solid blue 5px;
    background-color: lightblue;
    border-radius: 10px;
    font-family: 'Gochi Hand', cursive;
    padding: 10px;
    margin: 20px;
}

.dnd-header {
    text-align: center;
    margin: 10px;
}

.dnd-droppable, .dnd-draggable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    border: solid 3px blue;
    background-color: lightskyblue;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bold;
}

.item:active {
    cursor: -webkit-grabbing; cursor: grabbing;
}

/* WEATHER WIDGET STYLING */

.weather-container {
    border: solid hotpink 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 250px;
    background-color: lightpink;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Kalam', cursive;
}

.loading {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.weather-header {
    text-align: center;
    margin: 10px;
}

.weather {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather > i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    font-size: 50px;
    color: rgb(233, 90, 161);
}

/* CALCULATOR WIDGET STYLING */

.calculator-container {
    border: solid #800080 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 150px;
    background-color: #ca9cca;
    margin: 20px;
    align-items: center;
    font-family: 'Mali', cursive;
}

.calculator {
    display: flex;
    align-content: center;
}

.calculator-header {
    text-align: center;
    margin: 10px;
}

.calculator-display {
    width: 200px;
    height: 25px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: white;
    text-align: right;
    margin: 1px 1px 5px 1px;
    padding: 2px;
}

.calculator-display > span {
    margin: 0 10px;
}

.calculator-buttons {
    display: flex;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    width: 157px;
}

.num-buttons {
    display: flex;
    flex-wrap: wrap;
}

.num-buttons > button, .sign-buttons > button {
    width: 50px;
    height: 50px;
    margin: 5px 1px;
    border-radius: 5px;
    outline: none;
    border: violet;
    cursor: pointer;
    box-shadow: 0 5px rgb(160, 84, 160);
    font-weight: bold;
    font-family: 'Mali', cursive;
    font-size: 30px;
}

.num-buttons > button:active, .sign-buttons > button:active {
  box-shadow: 0 2px purple;
  transform: translateY(4px);
}

.sign-buttons {
    display: flex;
    flex-direction: column;
}

.clear-button, button.button-0 {
    box-shadow: 0 5px rgb(160, 84, 160);;
    margin: 5px 1px;
    width: 153px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: violet;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Mali', cursive;
    font-size: 30px;
}

.clear-button:active, .button.button-0:active {
  box-shadow: 0 2px purple;
  transform: translateY(4px);
}

.selected-sign {
    background-color: violet;
    filter: brightness(150%);
}

/* MAGIC 8 BALL WIDGET STYLING */

.magic-ball-container {
    border: solid hotpink 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 250px;
    background-color: lightpink;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Aleo', serif;
}

.magic-ball-header {
    text-align: center;
    margin: 10px;
}

.magic-ball {
    height: 400px;
    width: 400px;
    border: solid black 5px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.magic-ball-window {
    height: 200px;
    width: 200px;
    border: solid rgb(12, 12, 12) 5px;
    border-radius: 50%;
    background-color: rgb(12, 12, 12);
    box-shadow: 5px 10px 5px #888888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magic-ball-dice {
    width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
    border-bottom: 140px solid blue;
    position: absolute;
}

.magic-ball-response {
    color: white;
    font-size: 15px;
    width: 40px;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-top: 50px;
    user-select: none;
}

.spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;      
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* DICE WIDGET STYLING */

.dice-container {
    display: flex;
    border: solid rgb(236, 181, 78) 5px;
    background-color: linen;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    font-family: 'Londrina Solid', cursive;
}

.dice-header {
    text-align: center;
    margin: 10px;
}

.dice {
    display: flex;
}

.dice-roller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-type, .dice-total {
    margin: 5px;
}

.dice-roller > i {
    font-size: 50px;
    color: orange;
    margin: 5px;
}

.dice-roller > input[type=text] {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    outline: none;
    font-family: 'Londrina Solid', cursive;
}

.dice-container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}

.dice-buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.dice-buttons button {
    margin: 5px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: 'Londrina Solid', cursive;
    width: 50%;
}

.dice-error {
    margin: 5px;
    width: 30%;
    color: red;
    text-align: center;
    min-height: 40px;
}

.dice-roll-total {
    margin: 5px;
    width: 25%;
    font-size: 30px;
    align-self: center;
}

/* NOTES WIDGET STYLING */

.notes-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid green 5px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(195, 240, 195);
    font-family: 'Gaegu', cursive;
    min-height: 400px;
    min-width: 430x;
    width: 430px;
}

.notes-header {
    text-align: center;
    margin: 10px 10px 5px 10px;
    font-size: 50px;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes-form-container {
    display: flex;
    flex-direction: column;
}

.notes-errors {
    height: 20px;
    color: red;
    text-align: center;
}

.notes-form {
    display: flex;
}

.note-charcounter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: 5px 0;
    padding: 5px 0;
}

.notes-input {
    width: 250px;
    border: solid green 2px;
    border-radius: 5px;
    font-family: 'Gaegu', cursive;
    font-size: 18px;
    height: 20px;
    outline: none;
    padding: 5px;
    margin: 5px;
}

.notes-button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: green;
    font-size: 20px;
    outline: none;
}

.note-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.note-item {
    width: 100px;
    height: 100px;
    border: solid 2px yellow;
    border-radius: 3px;
    background-color: yellow;
    box-shadow: 2px 5px 4px 3px #888888;
    opacity: .8;
    padding: 2px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.note-item-remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2px;
    cursor: pointer;
}

.note-body {
    display: flex;
    padding: 0 2px;
}


/* MOBILE DEVICE STYLING */

@media screen and (max-width: 600px) {
  .interactive, .informative {
    flex-direction: column;
    align-items: center;
  }

  .clock {
      min-width: 300px;
  }

  .clock-time, .clock-date {
      font-size: 20px;
  }

  .clock-time div {
      display: flex;
      justify-content: center;
  }

  .dice {
      flex-direction: column;
  }

  .dice-buttons {
      align-self: center;
      min-width: 100%;
  }

  .dice-container-footer {
      flex-direction: column;
      flex-wrap: wrap;
  }

  .dice-error {
      font-size: 14px;
      width: fit-content;
      min-height: fit-content;
      align-self: center;
  }

  .dice-roll-total {
      min-width: 100%;
  }
}

